# Ignore
.circleci
.git
.mypy_cache
.tox
shellscripts
.codecov.yml
.coverage
.coveragerc
.dockerignore
.gitignore
bandit.yml
Dockerfile
Makefile
mypy.ini
pylintrc
requirements_test.txt
tox.ini

# Don't ignore
!pyscripts
!LICENSE
!README.md
!requirements.txt
!requirements_constraints.txt
!VERSION
