# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environments
.venv/
venv/

# Test / coverage
.coverage
.coverage.*
coverage.xml
htmlcov/
junit.xml
.pytest_cache/

# Linters / type checkers
.mypy_cache/
.ruff_cache/

# IDE
.idea/

# mkdocs
/site/

# Misc
*.log
.DS_Store
test_requests.http
