.git*
docs*
.tox*
.coverage
.coveragerc
.dockerignore
.env_vars
.gitignore
.prettierignore
.shellcheckrc
Dockerfile
Makefile
pylintrc
VERSION
*.txt
*.ini
*.py
*.sh
*cache
*pycache*
src
include
bin
lib
log
share