.git*
docs*
.tox*
.coverage
.coveragerc
.dockerignore
.env_vars
.gitignore
.prettierignore
.remarkrc
.shellcheckrc
node_modules
Dockerfile
Makefile
pylintrc
VERSION
*.txt
*.ini
*.py
*.sh
*.toml
*cache
*pycache*
src
include
bin
lib
log
share
