aiohttp
aioswitcher
asynctest
asyncio_throttle
bandit
beautifulsoup4
codecov
codacy-coverage
flake8
flake8-docstrings
isort
mypy
mypy-extensions
pylint
pytest
pytz
pytest-cov
pytest-sanic
sanic
toml
uvloop
