aiohttp==3.7.4.post0
aioswitcher==1.2.5
bandit==1.7.0
beautifulsoup4==4.9.3
black==21.5b2
codecov==2.1.11
doc8==0.8.1
flake8==3.9.2
flake8-docstrings==1.6.0
isort==5.8.0
mypy==0.812
pygments==2.9.0
pytest==6.2.4
pytest-cov==2.12.0
pytest-sanic==1.7.1
pytest-sugar==0.9.4
tox==3.23.1
yamllint==1.26.1
