aiohttp==3.5.4
aioswitcher==2019.8.28
asyncio_throttle==0.1.1
asynctest==0.13.0
bandit==1.6.2
beautifulsoup4==4.8.0
black==19.3b0
codecov==2.0.15
codacy-coverage==1.3.11
doc8==0.8.0
flake8==3.7.8
flake8-docstrings==1.4.0
isort==4.3.21
mypy==0.720
mypy-extensions==0.4.1
nodeenv==1.3.3
Pygments==2.4.2
pytest==5.1.1
pytest-cov==2.7.1
pytest-sanic==1.0.0
pytz==2019.2
sanic==19.6.3
sphinx==2.2.0
sphinx-rtd-theme==0.4.3
toml==0.10.0
uvloop==0.13.0
yamllint==1.17.0
