aiohttp==3.7.3
aioswitcher==1.2.1
asynctest==0.13.0
bandit==1.7.0
beautifulsoup4==4.9.1
black==19.10b0
codecov==2.1.10
doc8==0.8.1
flake8==3.8.4
flake8-docstrings==1.5.0
isort==4.3.21
mypy==0.790
pygments==2.7.3
pytest==5.4.3
pytest-cov==2.10.1
pytest-sanic==1.6.2
pytest-sugar==0.9.4
tox==3.15.2
yamllint==1.23.0
