---
name: Pre-Release

on:
  workflow_dispatch:
  push:
    branches:
      - dev

env:
  MAIN_PY_VER: 3.9
  PLATFORMS: linux/amd64,linux/arm/v7

jobs:
  pre-release:
    runs-on: ubuntu-latest
    name: Build pre-release and publish early access to GitHub
    steps:
      - name: Source checkout
        uses: actions/checkout@v2.3.4

      - name: Lint Dockerfile
        uses: luke142367/Docker-Lint-Action@v1.1.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Python
        uses: actions/setup-python@v2.2.2
        with:
          python-version: ${{ env.MAIN_PY_VER }}

      - name: Cache pip repository
        uses: actions/cache@v2.1.6
        with:
          path: ~/.cache/pip
          # yamllint disable-line rule:line-length
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt', 'requirements_test.txt') }}-${{ env.MAIN_PY_VER }}

      - name: Prepare python environment
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt -r requirements_test.txt

      - name: Test project
        run: pytest -v --cov --cov-report=xml:coverage.xml

      - name: Cache Docker layers
        uses: actions/cache@v2.1.6
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ hashFiles('**/Dockerfile') }}
          restore-keys: ${{ runner.os }}-buildx-

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1.2.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1.5.1

      - name: Login to GHCR
        uses: docker/login-action@v1.10.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Get current date
        id: getDate
        run: echo "::set-output name=date::$(date +'%Y-%m-%d')"

      - name: Build images and push to GHCR
        uses: docker/build-push-action@v2.6.1
        with:
          context: .
          push: true
          platforms: ${{ env.PLATFORMS }}
          tags: ghcr.io/tomerfi/switcher_webapi:early-access
          build-args: |
            VCS_REF=${{ github.sha }}
            BUILD_DATE=${{ steps.getDate.outputs.date }}
            VERSION=early-access
          cache-from: |
            type=local,src=/tmp/.buildx-cache
            ghcr.io/tomerfi/switcher_webapi:early-access
          cache-to: type=local,dest=/tmp/.buildx-cache

      - name: Create release
        uses: marvinpinto/action-automatic-releases@v1.2.1
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          automatic_release_tag: early-access
          prerelease: true
          title: early-access

      - name: Push to CodeCov
        uses: codecov/codecov-action@v1.5.0
        with:
          file: coverage.xml
          fail_ci_if_error: true
